APP_ENV=stage
SPRING_PROFILES_ACTIVE=stage
IMPORT_DATABASE=false

REMOTE_HOST=192.168.1.107
REMOTE_USER=root
REMOTE_DEPLOY_DIR=/home/daiwei/deployments/ruoyi-release

MYSQL_DATABASE=ruoyi-vue-pro
MYSQL_ROOT_PASSWORD=REPLACE_ME_STAGE_MYSQL_ROOT_PASSWORD
MYSQL_PORT=13306
REDIS_PORT=16379
SERVER_PORT=48080
ADMIN_PORT=5666

JAVA_OPTS="-Xms512m -Xmx1024m -Djava.security.egd=file:/dev/./urandom"
MASTER_DATASOURCE_URL=jdbc:mysql://mysql:3306/ruoyi-vue-pro?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&nullCatalogMeansCurrent=true&rewriteBatchedStatements=true
MASTER_DATASOURCE_USERNAME=root
MASTER_DATASOURCE_PASSWORD=REPLACE_ME_STAGE_MYSQL_ROOT_PASSWORD
SLAVE_DATASOURCE_URL=jdbc:mysql://mysql:3306/ruoyi-vue-pro?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&nullCatalogMeansCurrent=true&rewriteBatchedStatements=true
SLAVE_DATASOURCE_USERNAME=root
SLAVE_DATASOURCE_PASSWORD=REPLACE_ME_STAGE_MYSQL_ROOT_PASSWORD
REDIS_HOST=redis

OA_AGENT_API_KEY=REPLACE_ME_STAGE_OA_AGENT_API_KEY
OA_AGENT_IDENTITY_SECRET=REPLACE_ME_STAGE_OA_AGENT_IDENTITY_SECRET_32_CHARS_MINIMUM
OA_AGENT_LEGACY_PRINCIPAL_ENABLED=false
OA_AGENT_AUTH_ENABLED=true
AGENT_MODEL_ENCRYPTION_KEY=REPLACE_ME_STAGE_AGENT_MODEL_ENCRYPTION_KEY_32_BYTES
AGENT_EVENT_POSTGRES_URL=jdbc:postgresql://langgraph-postgres:5432/langgraph
AGENT_EVENT_POSTGRES_USERNAME=langgraph
AGENT_EVENT_POSTGRES_PASSWORD=REPLACE_ME_STAGE_LANGGRAPH_POSTGRES_PASSWORD
LANGGRAPH_POSTGRES_DB=langgraph
LANGGRAPH_POSTGRES_USER=langgraph
LANGGRAPH_POSTGRES_PASSWORD=REPLACE_ME_STAGE_LANGGRAPH_POSTGRES_PASSWORD

KOD_SSO_ENABLED=true
KOD_SSO_BASE_URL=http://192.168.1.107:8001/
KOD_SSO_APP_NAME=user:all
KOD_SSO_REDIRECT_URI=http://192.168.1.107:5666/#/auth/kod-sso-login?tenantId=1
KOD_SSO_CALLBACK_BASE_URL=http://192.168.1.107:48080
KOD_SSO_TENANT_ID=1
KOD_SSO_AUTO_CREATE_USER=false

WX_MP_APP_ID=REPLACE_ME_STAGE_WX_MP_APP_ID
WX_MP_SECRET=REPLACE_ME_STAGE_WX_MP_SECRET
WX_MINIAPP_APP_ID=REPLACE_ME_STAGE_WX_MINIAPP_APP_ID
WX_MINIAPP_SECRET=REPLACE_ME_STAGE_WX_MINIAPP_SECRET

FRONTEND_ENV_FILE=script/docker/env/frontend.stage.env
